{% include "header.html" %}
<div style = "position:relative; top:50px;">
  <div class="w3-container w3-padding-32" id="doctors">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Our Doctors</h3>
  </div>
  <div class="w3-row-padding">
  {% for doctor in doctor_list %}
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Dr. {{doctor["firstname"]}} {{doctor["lastname"]}} — {{doctor["specialty"]}}</div>
          <img src="/w3images/house5.jpg" alt="House" style="width:75%">
        </div>
      </div>
  {% endfor %}
  </div>
</div>
{% include "footer.html" %}
