<html>
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      .footer {
        font-size:10px;
      }
    </style>
  </header>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="w3-bar-item w3-button"><b>ITM</b> Diagnostics </a>
        {% if session["user"] is defined %}
        <div class="w3-right w3-hide-small">
          <a href='/home'>Home</a> |
          <a href='/doctors'>Doctors</a> |
          <a href='/services'>Available Services</a> |
          <a href='/booking'>Book an Appointment</a> |
          Welcome, {{ session["user"]["firstname"] }}.
          <a href='/logout'>Logout   </a>
        </div>
        {% endif %}
      </div>
    </div>
    <p/>
