<html>
  <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <style>
      .footer {
        font-size:10px;
      }
    </style>
  </header>
  <body>
    <a href='/home'>Home</a> | <a href='/doctors'>Doctors</a> |
        <a href='/services'>Available Services</a> | <a href='/booking'>Book an Appointment</a> |
        Welcome, {{ session["user"]["firstname"] }}.
        <a href='/logout'>Logout</a>
        <p/>
