<h1>Login</h1>
<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <style>
    .footer {
      font-size:10px;
    }
  </style>
</header>
<form action="/auth" method="POST">
   <div>
     Username or email address
   </div>
   <input type="text" name="username"></input>
   <div>
     Password
   </div>
   <input type="password" name="password"></input>
   <div>
   <input type="submit" value="Login"/>
   </div>
</form>
