{% include "header.html" %}
<div style = "position:relative; left:685px; top:210px">
<h1>Login</h1>
</div>
<form action="/auth" method="POST">
   <div style = "position:relative; left:630px; top:210px;">
     Username:
   <br><input type="text" name="username"></input>
   </div>
   <div style = "position:relative; left:630px; top:220px;">
     Password:
   <br><input type="password" name="password"></input>
   </div>
   <div style = "position:relative; left:699px; top:235px;">
   <input type="submit" value="Login"/>
   </div>
   <div style = "position:relative; left:560px; top:245px;">
   <b>Invalid username / password. Try again.</b>
   </div>
</form>
{% include "footer.html" %}
